* {
    padding: 0;
    margin: 0px;
}

body {

    font-family: font-family, Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    
    background: linear-gradient(black, rgb(12, 12, 12))
}

.background {

    background-image: url(./images/logo_files/backround-img1.JPG);
   min-height: 55rem;
   margin: 0;
   padding: 0;
}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.netflix-logo {

    height: 12vh;
    margin-left: 120px;
    margin-top: 10px;
}

#language-select {
    margin-right: 20px;
    background: none;
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 5px;
}

.sign-in {

    background-color: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    margin-right: 120px;
    font-weight: bold;
}

.option {

    border-radius: 10px;
    color: black;
    background: none;
    opacity: 0.3;
}

.fold2 {

    color: rgb(231, 236, 242);

}

h1 {

    color: white;
    text-align: center;
    font-size: 3.3rem;
    font-weight: 900;
    margin-top: 100px;
}

.starts {

    text-align: center;
    color: white;
    font-size: larger;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;

}
    
.paragraph {

    color: white;
    text-align: center;
    margin-top: 40px;
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 35px;
     text-align: center;
}

input {

    background: none;
    color: white;
    padding: 20px;
    padding-right: 230px;
    border-radius: 8px;
    border: 2px solid snow;
}

::placeholder {

 color: white;

}

.searchbar-button {
    padding: 20px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    margin-left: 25px;
    border: none;
}

.searchbar-button:hover {
    background-color: #453b29;
}

span {

    margin-left: 10px;
}

.line {

    background-color: rgb(166, 31, 31);
    width: 100%;
    height: 6px;
    border-radius: 50%;
    background: linear-gradient();
}

.card-container {
    margin: 100px 20px;
}

.cards {
    margin: auto;
     width: 90vw; 
    height: 50%;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.card {
    background: linear-gradient(#192145, #1F111E);
    margin: 10px; 
     height:100%;
     margin: auto;
    text-align: start;
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: end;
}

.icons {
    display: flex;
    justify-content: end;
    align-items: end;
}

.join {

    margin-left: 25px;
    margin-bottom: 30px;
}

.card-heading {
    margin: 20px;
    font-size: 23px;
}

.card-text {

    margin:10px;
    color: rgb(180, 194, 205);
}

.questions-container {

    display: flex;
    color: white;
    justify-content: center;
}

.question {
    padding: 25px;
    background-color: #302f2f;
    margin-top: 13px;
    width: 95%;
   text-align: start;
   font-size: 23px;

}
.questions {

    width: 90%;
    list-style: none;
    
}
.question:hover{
    background-color: #414141;
   }


.plus {
    float: inline-end;
}

.qus {

    display: inline-block;
    font-size: 23px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
}

.heading {
    color: white;
    margin-top: 40px;
    font-size: 20px;
    
    text-align: center;
}

.fold4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 99%;
    
}

.call {
    color: white;
    text-decoration: underline;
    margin-top: 70px;
    margin-bottom: 30px;
}

.sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    
}

a {
    color: rgb(236, 231, 231);
    font-size: 16px;
    font-weight: 100;
}

.section {
    display: flex;
    flex-direction: column;
  
  
   
}
.fold5{
     margin-left: 47px;
}

.lang {
    margin-left: 30px;
    margin: 50px;
}
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6{
    display: none;
        padding: 25px;
    background-color: #302f2f;
    margin-top: 13px;

   text-align: start;
   font-size: 18px;
   width: 95%;
}
.a{
    margin: 8px;
 }

@media (min-width:557px) and (max-width:1000px) {

    .netflix-logo {
        height: 9vh;
        margin-left: 20px;
        
    }
   
    #language-select {
        margin-top: 10px;
        margin-right: 20px;
        padding: 8px;
        display: none;
    }

    .sign-in {
        padding: 8px;
        border-radius: 4px;
        margin-right: 57px;
    }

    h1 {
        font-size: 2.7rem;
        font-weight: 700;
        margin-top: 100px;
    }

    .searchbar {
        margin-top: 60px;
        margin-right: 1px;
        margin-left: 1px;
    }

    input {
        padding: 5px 30px 5px 20px;
        border-radius: 8px;
        font-size: 20px;
    }
  
    .searchbar-button {
        padding: 10px;
    }


    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card {

        margin-top: 20px;
        border-radius: 20px;
        margin-right: 12px;
    }

    .card-container {
        margin: 50px 20px;
    }

    .questions-container {
        display: flex;
        justify-content: center;
        margin-right: 30px;
    }

    

    
    .slide1, .slide2, .slide3, .slide4, .slide5, .slide6{
    padding: 25px;
   
    width: 95%;
}
}

@media (max-width:556px) {

    .netflix-logo {
        height: 8vh;
        margin-left: 16px;
      
    }
    .navbar{
        display:flex;
        justify-content: space-between;
        
    }
    #language-select{
        margin: 0;
        display:none ;
    }
    .background{

        height: 12vh;
    }

    h1{
        font-size: 2rem;
    }

   .searchbar{
     display: flex;
    flex-direction: column;
    justify-items: center;   
    display: grid;
    
    gap: 20px;
   }

   input{
    padding-right: 10rem;
   }

   .searchbar-button{
     padding: 10px ; 
    margin: 0;
    font-size: medium;
    width: 130px;
    display: flex;
    
   }

   .question{
   width: 85%;
font-size: 1rem;
   
   }
   .questions-container{
    margin-left: 12px;
    margin-right: 12px;
   }
   
   .cards{
     grid-template-columns: 1fr; 
   
   }
   .card{
    width: 96%;
   }
  .sections, .slide1{
   display: grid;
   grid-template-columns: 1fr;
   text-align: start;
  }
 
  .qus{
    font-size: inherit;
  }
  .sign-in{
    margin-right: 40px;
    padding:10px;
  }
.slide1, .slide2, .slide3, .slide4, .slide5, .slide6{
 
   display: none;
    width: 85%;
}

}


 
     
 